$color__primary: #202020;
$base__font-size: 16 !default;

@import "../../core/handlers/mixins.scss";

body{
  font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.eTypography{

  h1 {
    font-size: calc-em(26);
    line-height: (40/36);
    margin-bottom: calc-em(10, 40);
    font-weight: bold;
    color: inherit;
  }

  h2 {
    font-size: calc-em(20);
    line-height: (28/24);
    margin-bottom: calc-em(15, 40);
    color: inherit;
  }

  h3 {
    font-size: calc-em(18);
    line-height: (22/20);
    margin-bottom: calc-em(15, 40);
    color: inherit;
  }

  p {
    font-size: calc-em(15);
    line-height: (20/15);
    margin-bottom: calc-em(10, 15);
  }

  a{

    color: #333333;
    text-decoration: none;
    transition: color .2s;
    font-weight: normal;

    &:hover{
      color: #999999;
    }

    &:active, &:focus {
      color: #111111;
      text-decoration: underline;
    }

  }

}

