.eButton{
  color: red;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  transition: background-color, max-width .3s ease-out;
  outline: none;
  cursor: pointer;
  text-shadow: 1px 1px 1px #ADADAD;
}
