.e-grid{
  margin: 0;
  flex-grow: 1;
  padding: 15px;
  @media (max-width: 1024px){
    padding: 7px;
  }
}

.debug{
  .e-grid{
    -webkit-box-shadow:inset 0 0 5px 0 #19FF5E;
    box-shadow:inset 0 0 5px 0 #19FF5E;
    background-color: rgba(162, 255, 165, 0.38);
  }
}
