.side-bar{

  width: 20%;
  background-color: #ececec;
  height: 100%;
  position: fixed;
  overflow: auto;
  margin: 0;
  padding: 120px 0 0 0;
  z-index: 900;
  -webkit-box-shadow: 1px 5px 5px 0px rgba(00,00,00,0.3);
  box-shadow: 1px 5px 5px 0px rgba(00,00,00,0.3);
  float: left;

  ul{
    padding: 0 0 0 20px;
    li{
      margin: 20px;
      list-style: none;

      > ul{
        padding: 0;
      }

    }

  }

}
